---

// IMPORT ASTRO LAYOUTS
import ContainerSmall from "@/layouts/container-small/index.astro"

// IMPORT ASTRO ATOMS
import ButtonArrow from "@/atoms/buttons/arrow/index.astro"
import ButtonTransparent from "@/atoms/buttons/transparent/index.astro"
import HeadingTwoSixXlWhite from "@/atoms/headings/two/6xl/semibold/center/white/index.astro"
import Link from "@/atoms/links/index.astro"
import ParagraphLgCenterwhite from "@/atoms/paragraphs/lg/center/white/index.astro"
import PictureContain from "@/atoms/picture/internal/contain/index.astro"
import PictureCover from "@/atoms/picture/internal/index.astro"
import Video from "@/atoms/video/index.astro"

// HARDCODED DATA
const data = {

    source: "/images/mike.jpeg",
    subtitle: "When it comes to scaling your company, it's important to work with someone who has deep experience, across multiple channels and forms of revenue generation.",
    title_highlight: " IMMEDIATELY",
    title: "WORK WITH MIKE",
    video_source: "https://www.youtube.com/embed/lu9rknclQ6E",

}
const button_data = {

    button_link_one: "/",
    button_link_two: "/",
    button_text_one: "SCALE YOUR BUSINESS",
    button_text_two: "CONNECT WITH ME",

}

---

<section class="bg-black py-16">
    <ContainerSmall>
        <div class="flex flex-col items-center gap-8">
            <div class="size-48 rounded-full overflow-hidden border-4 border-white">
                <PictureCover
                    alternative_text=""
                    source={ data.source }
                />
            </div>
            <div class="flex flex-col gap-4 items-center lg:px-14">
                <HeadingTwoSixXlWhite>{ data.title }<span class="text-light_yellow">{ data.title_highlight }</span></HeadingTwoSixXlWhite>
                <ParagraphLgCenterwhite>{ data.subtitle }</ParagraphLgCenterwhite>
            </div>
            <div class="max-w-[538px] w-full aspect-video rounded-xl overflow-hidden">
                <Video
                    src={ data.video_source }
                />
            </div>
            <div class="flex flex-col md:flex-row items-center gap-6">
                <Link href={ button_data.button_link_one }>
                    <ButtonArrow>{ button_data.button_text_one }</ButtonArrow>
                </Link>
                <Link href={ button_data.button_link_two }>
                    <ButtonTransparent>
                        { button_data.button_text_two }
                        <div class="size-4">
                            <PictureContain
                                alternative_text=""
                                source="/icons/linkedin.svg"
                            />
                        </div>
                    </ButtonTransparent>
                </Link>
            </div>
        </div>
    </ContainerSmall>
</section>
