---

// IMPORT ASTRO ATOMS
import PictureInternal from "@/atoms/picture/internal/index.astro"

// SERVICES ARRAY
const services = [

    {
        title:"Digital Marketing"
    },
    {
        title:"Social Media Marketing"
    },
    {
        title:"Website Design"
    },
    {
        title:"Facebook Ads"
    },
    {
        title:"Sales Funnel"
    },

]

---
<section class="hidden md:block bg-black py-5">
    <div class="bg-gray-300 transform skew-y-2">
        <div class="flex gap-10 overflow-hidden">
            <div class="flex gap-10 whitespace-nowrap animate-loop-scroll">
                {

                    services.map( ( item ) =>{

                        return ( 
                                <span class="font-medium font-unbounded text-5xl tracking-wide py-4">
                                    <span class="size-8 inline-block">
                                        <PictureInternal 
                                            alternative_text=""
                                            source="/icons/asterisk.svg"
                                        />
                                    </span>
                                    { item.title }
                                </span>

                        )

                    })

                }
            </div>
            <div class="inline-block">
                <div class="flex gap-10 whitespace-nowrap animate-loop-scroll">
                    {
    
                        services.map( ( item ) =>{
    
                            return ( 
                                    <span class="font-medium font-unbounded text-5xl tracking-wide py-4">
                                        <span class="size-8 inline-block">
                                            <PictureInternal 
                                                alternative_text=""
                                                source="/icons/asterisk.svg"
                                            />
                                        </span>
                                        { item.title }
                                    </span>
    
                            )
    
                        })
    
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#FFFF00] bg-opacity-90 transform -skew-y-2">
        <div class="flex gap-10 overflow-hidden">
            <div class="flex gap-5 whitespace-nowrap animate-reverse-loop-scroll">
                {
    
                    services.map( ( item ) =>{
    
                        return ( 
                                <span class="font-medium font-unbounded text-5xl tracking-wide py-4">
                                    <span class="size-8 inline-block">
                                        <PictureInternal 
                                            alternative_text=""
                                            source="/icons/asterisk.svg"
                                        />
                                    </span>
                                    { item.title }
                                </span>
    
                        )
    
                    })
    
                }
            </div>
            <div class="inline-block">
                <div class="flex gap-5 whitespace-nowrap animate-reverse-loop-scroll">
                    {
        
                        services.map( ( item ) =>{
        
                            return ( 
                                    <span class="font-medium font-unbounded text-5xl tracking-wide py-4">
                                        <span class="size-8 inline-block">
                                            <PictureInternal 
                                                alternative_text=""
                                                source="/icons/asterisk.svg"
                                            />
                                        </span>
                                        { item.title }
                                    </span>
        
                            )
        
                        })
        
                    }
                </div>
            </div>
        </div>
    </div>
</section>
